* {
  box-sizing: border-box;
}

.row {
  max-width: 1300px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.seeResults,
.nextQuestion2 {
    border: 1px;
    margin: 0px;
    height: 70px;
    background: transparent;
    position: relative;
}

.buttonText2 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.nextQuestion2 {
  border-radius: 50%;
  left: 80%;
  width: 90px;
}

.nextQueston2:hover {
  background: rgba(255,255,255,0.5);
}

.seeResults {
  display: flex;
  width: 215px;
  left: 60%;
}

.col-6,
.col-12 {
	padding-left: 1.04166666%;
  padding-right: 1.04166666%;
  float:left;
  width: 100%;
   /*margin: 0px;*/
}
/*.beginButton {
    position: relative;
    top: 50%;
    left: 10%;
    top: 83px;
    padding-top: 2px;
}




/* Non-mobile, grid */
@media only screen and (min-width: 1024px) {

  h1 {
    margin-top: 5%;
  }

  .col-12 {
      width: 100%;
  }

  .nextQuestion2 {
     position: relative;
      left: 75%;
      top: 68px;
  }

  .col-6{
     width: 50%;
  }
}